* {
  user-select: none;
}

html,
body {
  overflow: hidden;
  background-color: #000;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  position: fixed;
}

#app,
#app-container {
  width: 100%;
  height: 100%;
  display: flex;
  /* max-width: 1000px;  */
  position: relative;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content if needed */
  margin: 0 auto; /* Center horizontally */
}

.background-div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black; /* Color for the background div */
  z-index: 0; /* Below the canvas */
}

#mainCanvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Above the background div */
}

#visualization-ctr {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-10px, -10px);
  z-index: 20;
  max-width: 200px;
  width: 30%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.5);
}

#pendulum-ctr {
  position: relative;
}

/* Center the pendulum svg in the div */
svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* Styling for the pendulum rod and centerline */
.line {
  stroke: white;
  stroke-width: 2;
}

.pendulum-arc {
  stroke: white;
  stroke-width: 1;
  stroke-opacity: 0.6;
}

#pendulum-angle {
  color: white;
  font-size: 1em;
  line-height: 0;
  margin-left: 5px;
}

.pendulum-velocity-arrow line {
  stroke: #f37c6fff;
}

.pendulum-velocity-arrow polygon {
  fill: #f37c6fff;
}

/* Dashed center line */
.center-line {
  stroke-dasharray: 5, 5;
  opacity: 0.7;
}

/* Pendulum ball (white circle) */
.ball {
  fill: white;
}

@keyframes promo-appear-animation {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
